.profile-image {
  height: 30px;
  width: 30px;
  vertical-align: middle;
  margin-right: 15px;
  border: 2px solid #2c3e50;
  border-radius: 80px;
}

td, a {
  font-size: 14px;
  font-weight: 600;
  color: #34495e;
}

a {
  text-decoration: none;
  margin-left: 20%;
}

a:hover {
  color: #2980b9;
}

a:visited {
  color: #2980b9;
}

tr:nth-child(even) td {
  background-color: #191919;
}

tr:nth-child(odd) td {
  background-color: #191919;
}